{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}

    <section class="container flex">

    <div class="card flex">
        
        <section class="cSyndical">

            <h2>{{ csyndical.title }}</h2>

            <div class="page">
                {{ csyndical.fr|raw }}
            </div>

            <fieldset>
                <legend>Documentation</legend>
                <ul>
                <li><a href="#">qsdsdqsd.pdf</a></li>
                <li><a href="#">dfdfgdfg.pdf</a></li>
                <li><a href="#">zerzerzzer.pdf</a></li>
                </ul>
            </fieldset>
            

            
        </section>

        {% include('aside_bar.html.twig') %}
        
    </div>
    
    </section>

{% endblock %}