{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}

    <section class="container flex">

    <div class="card flex">
        
        <section class="news">

            <h2>Dernières News</h2>
            <hr />

            {% set counter = 0 %}
            {% for news in allnews %}

                {% if counter < 3 %}
                    
                <a href="{{ path('news',{ 'id': news.id}) }}" class="card_link">
                    <article class="cardNews">
                        <div class="content flex">

                            <div class="img-news">
                                <img src="{{ asset('/img/' ~ news.img) }}" alt="img news" />
                            </div>
                            
                            <div class="resume flex">

                                <header class="flex">
                                    <h3>{{ news.title }}</h3>
                                </header>

                                {{ news.resume|raw }}
                            </div>

                        </div>
                        <footer class="flex"><span class="text-footer">{{ news.date|date("m/d/Y") ~ " - " }}{% if memberNews[counter].id == news.Member.id %}{{memberNews[counter].name}} {{memberNews[counter].lastname}}{% endif %}</span></footer>
                    </article>
                </a>
                {% set counter =  counter + 1 %}
                {% endif %}
            {% endfor %}

            <div class="pagination">
                <li class="page-item previous-page pdisable"><a href="#" class="page-link">Avant</a></li>
                <li class="page-item current-page pactive"><a href="#" class="page-link">1</a></li>
                <li class="page-item dots"><a href="#" class="page-link">...</a></li>
                <li class="page-item current-page"><a href="#" class="page-link">5</a></li>
                <li class="page-item current-page"><a href="#" class="page-link">6</a></li>
                <li class="page-item dots"><a href="#" class="page-link">...</a></li>
                <li class="page-item current-page"><a href="#" class="page-link">10</a></li>
                <li class="page-item next-page"><a href="#" class="page-link">Apres</a></li>
            </div>

        </section>

        {% include('aside_bar.html.twig') %}
    </div>
    
    </section>

{% endblock %}

