{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}

    <section class="container flex">

    <div class="card flex">
        
        <section class="affichNews">

            <h2><a href="{{ path('accueil') }}">Accueil</a> / <span class="bold">{{news.title}}</span></h2>

            <article class="card_section">

                <img id="img_news" src="{{ asset('/img/' ~ news.img) }}" alt="img news" />

                <header>
                    <h2>{{ news.title }}</h2>
                </header>

                <div class="content">
                    <p>{{ news.text|raw }}</p>
                </div>
                <p class="publication">Publié par <span class="bold">{{ member.name }} {{ member.lastname }}</span> le <span class="bold">{{ news.date|date("m/d/Y") }}</span> à <span class="bold">{{ news.date|date("H") }}h{{ news.date|date("m") }}</span></p>
            </article>
        </section>

        {% include('aside_bar.html.twig') %}
        
    </div>
    
    </section>

{% endblock %}