{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}

    <section class="container flex">

    <div class="card flex">
        
        <section class="syndic">

            <h2>{{ syndic.title }}</h2>

            <div class="page">
                {{ syndic.fr|raw }}
            </div>

            
        </section>

        {% include('aside_bar.html.twig') %}
        
    </div>
    
    </section>

{% endblock %}