{% extends 'admin/index.html.twig' %}

{% block main_page %}
    <div class="main_page_logo">
        <h2 class="text_bg">Ajout des news</h2>
        {{form_start(formAjout)}}

            <div class="row">
                <div class="form-group">
                        {{form_label(formAjout.title, "Titre")}}
                        {{ form_widget(formAjout.title, {"attr":{"class": "form-control"}})}}
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                        {{form_label(formAjout.alias, "Alias")}}
                        {{ form_widget(formAjout.alias, {"attr":{"class": "form-control"}})}}
                </div>
            </div>

        {{form_end(formAjout)}}


        <a href="{{ path('accueil') }}">Accueil</a>
    </div>
{% endblock %}