{% extends 'admin/index.html.twig' %}

{% block main_page %}
    <div class="main_page_logo">
        <h2 class="text_bg">Gestion des Commentaires</h2>
        <a href="{{ path('accueil') }}">Accueil</a>
    </div>
{% endblock %}