<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ page_title }}{% endblock %}</title>
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
        <link rel="icon" href="{{ asset("build/images/sun-icon.png") }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="body_admin">
        {% include('admin/navbar.html.twig') %}
        {% block body %}
            <section class="home flex">
                <div class="text">Bienvenue</div>
            </section>
        {% endblock %}
        
    </body>
</html>
