{% extends 'admin/index.html.twig' %}

{% block body %}
    <div class="home flex">
        <div class="main_page_form">
            <h2 class="text_bg">{{user.name}} {{user.lastname}}</h2>

            {{ form_start(formUserModify) }}

            <div class="row flex">
                <div class="form-group flex">
                    {{form_label(formUserModify.img, "Image")}}
                    {{ form_widget(formUserModify.img, {"attr":{"class": "form-control"}})}}
                </div>

                <div class="form-group flex">
                    {{form_label(formUserModify.email, "Email")}}
                    {{ form_widget(formUserModify.email, {"attr":{"class": "form-control"}})}}
                </div>
            </div>

            <div class="row flex">
                <div class="form-group flex">
                    {{form_label(formUserModify.name, "Prenom")}}
                    {{ form_widget(formUserModify.name, {"attr":{"class": "form-control"}})}}
                </div>

                <div class="form-group flex">
                    {{form_label(formUserModify.lastname, "Nom de Famille")}}
                    {{ form_widget(formUserModify.lastname, {"attr":{"class": "form-control"}})}}
                </div>
            </div>

            <div class="row flex">
                <div class="form-group flex">
                    {{form_label(formUserModify.level, "Niveau de droit")}}
                    {{ form_widget(formUserModify.level, {"attr":{"class": "form-control"}})}}
                </div>

                <div class="form-group flex">
                    {{form_label(formUserModify.phone, "Numero de telephone")}}
                    {{ form_widget(formUserModify.phone, {"attr":{"class": "form-control"}})}}
                </div>
            </div>

            <div class="row flex">
                <div class="form-group flex">
                    {{form_label(formUserModify.address, "Adresse")}}
                    {{ form_widget(formUserModify.address, {"attr":{"class": "form-control"}})}}
                </div>

                <div class="form-group flex">
                        {{form_label(formUserModify.additional, "Adresse Aditonnelle")}}
                        {{ form_widget(formUserModify.additional, {"attr":{"class": "form-control"}})}}
                </div>
            </div>

            <div class="row flex">
                <div class="form-group flex">
                    {{form_label(formUserModify.city, "Ville")}}
                    {{ form_widget(formUserModify.city, {"attr":{"class": "form-control"}})}}
                </div>

                <div class="form-group flex">
                    {{form_label(formUserModify.postal_code, "Code Postale")}}
                    {{ form_widget(formUserModify.postal_code, {"attr":{"class": "form-control"}})}}
                </div>
            </div>

            <div class="row flex">
                <div class="form-group flex">
                        {{form_label(formUserModify.country, "Pays")}}
                        {{ form_widget(formUserModify.country, {"attr":{"class": "form-control"}})}}
                    </div>

                    <div class="form-group flex">
                        {{form_label(formUserModify.land_title, "Titre")}}
                        {{ form_widget(formUserModify.land_title, {"attr":{"class": "form-control"}})}}
                    </div>
            </div>

            <div class="row flex">
                <div class="form-group flex">
                    {{form_label(formUserModify.passwd, "Mot de Passe")}}
                    {{ form_widget(formUserModify.passwd, {"attr":{"class": "form-control"}})}}
                </div>
            </div>

            <div class="row flex">
                {{ form_widget(formUserModify.modify, {"attr":{"class": "form-btn modify"}})}}

                {{ form_widget(formUserModify.delete, {"attr":{"class": "form-btn delete"}})}}
            </div>
        {{ form_end(formUserModify) }}
            
        </div>
    </div>
{% endblock %}