{% extends 'admin/index.html.twig' %}

{% block body %}
    <div class="home flex">
        <h2 class="text_bg">Gestion des membres</h2>

        <div class="tabs">
            <ul class="list flex">

            {% for letter in alpha %}
                    <li class="tab{% if letter == 'A' %} active {% endif %}" data-target="content{{letter}}">{{letter}}</li>
            {% endfor %}

            </ul>
            <div class="contents">

                {% for letter in alpha %}
                <div id="content{{letter}}" class="content">
                    
                    <ul>
                    {% for people in usertab %}
                        {% if people.name|slice(0, 1)|lower == letter|lower  %}
                            <li class="lst_name flex"><a class="lst_link flex" href="{{ path('membre',{ 'id': people.id}) }}">{{people.name}} {{people.lastname}}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                    
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}