{% extends 'admin/index.html.twig' %}

{% block main_page %}
    <div class="main_page_logo">
        <h2 class="text_bg">Gestion des Pages</h2>

        <div class="tabnews">
            <table id="tn">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for page in tabPage %}
                    <tr>
                        <td>{{page.title}}</td>
                        <td><a href="{{ path('pagemodif',{ 'id': page.id}) }}" class="btn-modif">Modifier</a></td>
                        <td><a href="{{ path('pagedelete',{ 'id': page.id}) }}" class="btn-suppr">Supprimer</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <a href="{{ path('accueil') }}">Accueil</a>
    </div>
{% endblock %}