<nav class="sidebar">

    <header>

        <div class="img-text flex">
            <span class="img">
                <img src="{{ asset("/img/sun-icon.png") }}" alt="logo" />
            </span>

            <div class="text header-text flex">
                <span class="name">Alcudia Smir</span>
                <span class="profession">Administration</span>
            </div>
        </div>

        <i class='bx bx-chevron-right toggle flex'></i>
    </header>

    <div class="menu-bar flex">
        <div class="menu">
            <ul class="menu-links">
                <li class="nav-links flex">
                    <a href="{{ path('ajoutnews') }}" class="flex">
                        <i class='bx bx-news icon flex'></i>
                        <span class="text nav-text">Ajout News</span>
                    </a>
                </li>

                <li class="nav-links flex">
                    <a href="{{ path('modifnews') }}" class="flex">
                        <i class='bx bx-note icon flex'></i>
                        <span class="text nav-text">Modifier News</span>
                    </a>
                </li>

                <li class="nav-links flex">
                    <a href="{{ path('modifpages') }}" class="flex">
                        <i class='bx bx-file icon flex'></i>
                        <span class="text nav-text">Modifier Page</span>
                    </a>
                </li>

                <li class="nav-links flex">
                    <a href="{{ path('acommentaires') }}" class="flex">
                        <i class='bx bx-comment-detail icon flex'></i>
                        <span class="text nav-text">Commentaires</span>
                    </a>
                </li>

                <li class="nav-links flex">
                    <a href="{{ path('acarousel') }}" class="flex">
                        <i class='bx bx-landscape icon flex'></i>
                        <span class="text nav-text">Carousel</span>
                    </a>
                </li>

                <li class="nav-links flex">
                    <a href="{{ path('membres') }}" class="flex">
                        <i class='bx bx-user icon flex'></i>
                        <span class="text nav-text">Membres</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="bottom-content">
        
            <li class="flex">
                <a href="{{ path('accueil')}}" class="flex">
                    <i class='bx bx-log-out icon flex' ></i>
                    <span class="text nav-text">Retour</span>
                </a>
            </li>

            <li class="mode flex">
                <div class="moon-sun flex">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark Mode</span>

                <div class="toggle-switch flex">
                    <span class="switch"></span>
                </div>
            </li>

        </div>

    </div>

</nav>