{% extends 'admin/index.html.twig' %}

{% block main_page %}
    <div class="main_page_logo">
        <h2 class="text_bg">Modif news {{news.id}}</h2>
        {{ form(formModifNews) }}
        <a href="{{ path('accueil') }}">Accueil</a>
    </div>
{% endblock %}