{% extends 'admin/index.html.twig' %}

{% block main_page %}
    <div class="main_page_logo">
        <h2 class="text_bg">Gestion de Page</h2>
        {{ form(formModifPage) }}
        <a href="{{ path('accueil') }}">Accueil</a>
    </div>
{% endblock %}