$trans2: all 0.2s ease;
$trans3: all 0.3s ease;
$trans4: all 0.4s ease;
$trans5: all 0.5s ease;

:root{
    --body: #e4e9f7;
    --sidebar: #fff;
    --primary: #2b96c8;
    --primary-light: #f6f5ff;
    --toggle: #ddd;
    --text: #707070;
}

@font-face{
    font-family: 'Poppins-Regular';
    src: url('/assets/fonts/Poppins-Regular.ttf');
}

@mixin media-maxW($max_width) {
    @media all and (max-width: $max_width) {
        &{ @content; }
    }
}

.body_admin{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("/assets/svg/background_admin_light.svg");
    background-size: cover;
    background-position: center;

    @include media-maxW(1380px) {
        height: 100%;
    }

    &.dark{
        background-image: url("/assets/svg/background_admin_dark.svg");

        --body: #18191a;
        --sidebar: #242526;
        --primary: #2b96c8;
        --primary-light: #3a3b3c;
        --toggle: #ddd;
        --text: #ccc;

        .sidebar{

            header{
                .toggle{
                    color: var(--text);
                }
            }

            .menu-bar{
                .mode{

                    .moon-sun{
                        .sun{
                            opacity: 1;
                        }

                        .moon{
                            opacity: 0;
                        }
                    }
                    .toggle-switch{
                        .switch{
                            &::before{
                                left: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}


.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--sidebar);
    font-family: 'Poppins-Regular', sans-serif;
    transition: $trans5;
    z-index: 1000;

    &.close{
        width: 78px;

        .text{
            opacity: 0;
            transition: $trans4;
        }

        header{
            .toggle{
                transform: translateY(-50%);
            }
        }

        .menu-bar{
            .mode{
                .moon-sun{
                    .sun{
                        opacity: 0 !important;
                    }

                    .moon{
                        opacity: 0;
                    }
                }
            }
        }
    }

    ul{
        padding: 0;

        li{
            height: 50px;
            margin-top: 10px;
            list-style: none;
            align-items: center;
    
            a{
                text-decoration: none;
                height: 100%;
                width: 100%;
                align-items: center;
                transition: $trans4;
                border-radius: 6px;
    
                &:hover{
                    background-color: var(--primary);
    
                    .icon, .text{
                        color: var(--sidebar);
                        transition: $trans2;
                    }
    
                }
    
                .icon{
                    font-size: 20px;
                    color: var(--text);
                    min-width: 60px;
                    align-items: center;
                    justify-content: center;
    
                }
    
            }
        }
    }

    li{
        height: 50px;
        margin-top: 10px;
        list-style: none;
        align-items: center;

        a{
            text-decoration: none;
            height: 100%;
            width: 100%;
            align-items: center;
            transition: $trans4;
            border-radius: 6px;

            &:hover{
                background-color: var(--primary);

                .icon, .text{
                    color: var(--sidebar);
                    transition: $trans2;
                }

            }

            .icon{
                font-size: 20px;
                color: var(--text);
                min-width: 60px;
                align-items: center;
                justify-content: center;

            }

        }
    }

    .text{
        font-size: 16px;
        font-weight: 500;
        color: var(--text);
        transition: $trans5;
        white-space: nowrap;
    }

    .img{
        min-width: 60px;
        align-items: center;
    }

    header{
        position: relative;
        margin-bottom: 50px;

        .img-text{
            align-items: center;

            img{
                width: 60px;
                border-radius: 6px;
                background-color: var(--primary);
            }

            .header-text{
                display: flex;
                flex-direction: column;

                .name{
                    font-weight: 600;
                }

                .profession{
                    margin-top: -15px;
                }
            }
        }

        .toggle{
            position: absolute;
            top: 50%;
            right: -30px;
            transform: translateY(-50%) rotate(180deg);
            height: 30px;
            width: 30px;
            background-color: var(--primary);
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            color: var(--sidebar);
            font-size: 22px;
        }

    }

    .menu-bar{
        height: calc(100% - 140px);
        flex-direction: column;
        justify-content: space-between;

        .mode{
            background-color: var(--primary-light);
            position: relative;
            border-radius: 6px;

            .toggle-switch{
                position: absolute;
                height: 100%;
                min-width: 60px;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                right: 10px;

                .switch{
                    position: relative;
                    height: 22px;
                    width: 44px;
                    background-color: var(--toggle);
                    border-radius: 25px;

                    &::before{
                        content: '';
                        position: absolute;
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        background-color: var(--sidebar);
                        top: 50%;
                        left: 5px;
                        transform: translateY(-50%);
                        transition: $trans3;
                    }
                }
            }

            i{
                position: absolute;
                transition: $trans3;
            }

            .moon-sun{
                height: 50px;
                width: 60px;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                color: var(--text);

                .sun{
                    opacity: 0;
                }
            }
        }
    }

}

/* Conteneur principale */

.home{
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: $trans2;

    .text{
        font-size: 50px;
        font-family: 'Poppins-Regular', sans-serif;
        font-weight: 500;
        color: var(--text);
    }
}

.sidebar.close ~ .home{
    left: 78px;
    width: calc(100% - 78px);
}

/* Liste des Utilisateur */

.home{

    h2{
        font-size: 50px;
        font-family: 'Poppins-Regular', sans-serif;
        font-weight: 500;
        color: var(--text);
    }
}

.tabs{

    .list{
        color: var(--text);
        padding: 0;
        list-style: none;
        border-bottom: 1px solid black;
        font-family: 'Poppins-Regular', sans-serif;
        margin: 0;

        .tab{
            padding: 10px;
            cursor: pointer;

            @include media-maxW(1380px) {
                padding: 5px;
            }

            &.active{
                color: var(--primary);
                background-color: var(--primary-light);
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            &:hover{
                color: var(--primary);
                transition: 0.4s;
            }
        }
    }

    .contents{
        margin: 20px;

        .content{
            display: none;

            &.show{
                display: initial;
            }

            ul{
                padding: 0;
            }

            .lst_name{
                color: var(--text);
                background-color: var(--primary-light);
                margin-top: 15px;
                font-family: 'Poppins-Regular', sans-serif;
                padding-left: 15px;
                letter-spacing: 1px;
                align-items: center;
                text-decoration: none;
                transition: all 0.4s ease;
                border-radius: 12px;
                height: 50px;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

                .lst_link{
                    align-items: center;
                    color: var(--text);
                    text-decoration: none;
                    width: 100%;
                    height: 100%;

                    &:hover{
                        color: var(--primary);
                    }
                }
            }
        }
    }
}

/* Formulaire de Membre */

.main_page_form{
    width: 45%;
    font-family: 'Poppins-Regular', sans-serif;

    form{
        width: 100%;
    }
}

.form-group{

    flex-direction: column;
    height: 60px;
    margin: 10px;
    width: 100%;

    @include media-maxW(1380px) {
        height: 50px;
        margin: 10px;
    }

    label{
        margin-bottom: 5px;
    }

    .form-control{
        height: 50%;
        border-radius: 5px;
        padding: 5px;
    }
}

.form-btn{
    height: 30px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 30%;
    border-radius: 5px;
    border: none;

    &.modify{
        background-color: green;
        color: var(--text);
        cursor: pointer;
    }

    &.delete{
        background-color: red;
        color: var(--text);
        cursor: pointer;
    }
}
