/* Fait par Alexis Lesnes */
$red: #DC5E44;
$red_argile: #d45252;
$black: #131313;
$gray: #E4E6EC;
$dark_gray: #7f8fa6;
$white: #FFFFFF;
$violet: #9370DB;

$sky_blue: #2b96c8;
$midnight_blue: #1b5f7f;
$blue: #0053a5;
$blue2: #3B81BE;
$jaune_sable: #ddd09c;
$sable_fonce: #ffb142;
$green_apple: #56c93f;

@font-face{
    font-family: 'FiraSans-Bold';
    src: url('/assets/fonts/FiraSans-Bold.ttf');
}

@font-face{
    font-family: 'Segoe-Script';
    src: url('/assets/fonts/segoe_script.ttf');
}

@mixin media-maxW($max_width) {
    @media all and (max-width: $max_width) {
        &{ @content; }
    }
}

@mixin media-minW($min_width) {
    @media all and (min-width: $min_width) {
        &{ @content; }
    }
}

@mixin media-Width($min_width, $max_width) {
    @media (min-width: $min_width) and (max-width: $max_width) {
        &{ @content; }
    }
}

@mixin keyframes($animation-name) {
    @keyframes #{$animation-name} {
        @content;
    }
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

main{
    width: 100%;
    min-height: 100vh;
    background-color: $blue2;
    background-image: url("/assets/svg/background.svg");
    background-size: cover;
    background-position: center;

}

.flex{
    display: flex;
    gap: var(--gap, 1rem);
}

.bold{
    color: $red;
}


/* Navbar */

.header-nav{
    align-items: center;
    justify-content: space-between;
    font-family: 'FiraSans-Bold', sans-serif;
    user-select: none;

    .logo{
        margin: 2rem;
        flex-direction: row;
        align-items: center;

        a{
            color: $white;
            font-family: 'Segoe-Script', sans-serif;
            font-weight: 800;
            font-size: 30px;
            text-decoration: none;

            @include media-maxW(1380px) {
                font-size: 25px;
            }

            .sun-icon{
                width: 70px;
                height: 70px;
            }

            .text-logo{
                text-decoration: none;
                color: $white;
                font-size: 30px;
                transform: translateX(-100%);

                @include media-maxW(85em) {
                    display: none;
                }
            }
        }
    }

    .nav{
        z-index: 1000;
        list-style: none;
        background-color: $jaune_sable;
        margin: 0;
        padding: 0;

        li{
            padding: 1.5rem;

            @include media-maxW(1380px) {
                padding: 1rem;
            }

            &:hover{
                background-color: $sable_fonce;
                border-radius: 5px;
                transition: 0.5s;
            }
        }

        .active{
            background-color: $sable_fonce;
            border-radius: 5px;
        }


        a{
            text-decoration: none;
            color: $white;
            font-size: 20px;
        }


        @include media-maxW(70em) {
            --gap: 1.5em;
            margin: 0;
            padding: min(30vh, 10rem) 2rem;
            position: fixed;
            inset: 0 0 0 30%;
            flex-direction: column;
            transform: translateX(100%);
            transition: transform 350ms ease-out;
        }

        @include media-minW(35em) {
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
        }
    }

    .nav[data-visible="true"]{
        transform: translateX(0%);
    }

    .btn_menu{

        display: none;

        @include media-maxW(70em) {
            display: block;
            z-index: 9999;
            position: fixed;
            background-color: $red;
            border: 0;
            width: 2rem;
            aspect-ratio: 1;
            top: 3rem;
            right: 3rem;
            cursor: pointer;
        }
    }

    .btn_menu[aria-expended="true"]{

        background-color: $green_apple;
    }

}

/* Page d'Accueil */

.container{
    width: 100%;
    min-height: 90vh;
    justify-content: center;
    align-items: center;

    .card{
        background-color: $white;
        margin-top: 8%;
        width: 70%;
        height: auto;
        border-radius: 5px;

        @include media-maxW(1380px) {
            width: 80%;
        }

        @include media-maxW(55em) {
            flex-direction: column;
        }

        .cSyndical{
            flex-basis: 70%;
        }

        .syndic{
            flex-basis: 70%;
        }

        .divers{
            flex-basis: 70%;
        }

        .user_connect{
            flex-basis: 70%;
        }

        .affichNews{
            flex-basis: 70%;
        }

        .news{
            flex-basis: 70%;

            h2{
                padding: 2% 0 0 5%;
                user-select: none;
            }

            .card_link{
                text-decoration: none;
            }

            .cardNews{
                margin: 1rem;
                min-height: 200px;
                color: $black;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                user-select: none;

                @include media-maxW(55em) {
                    margin: 5%;
                }

                &:hover{
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                }

                .content{
                    flex-direction: row;
                    user-select: none;
                    min-height: 177px;

                    @include media-maxW(55em) {
                        flex-direction: column;
                    }

                    .img-news{
                        flex-basis: 40%;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            user-select: none;
                        }
                    }

                    .resume{
                        flex-basis: 60%;
                        flex-direction: column;
                        align-items: center;
                        margin: 0 1% 10px 1%;
                        user-select: none;

                        header{
                            justify-content: first baseline;

                            h3{
                                font-size: 25px;
                                user-select: none;
                                margin: 5px 0 0 0;

                                @include media-maxW(55em) {
                                    margin: 0;
                                }
                            }

                        }
                    }
                }

                footer{
                    justify-content: end;
                    bottom: 0;
                    background-color: $red;
                    color: $gray;
                    width: 100%;
                    height: 23px;

                    @include media-maxW(55em) {
                        justify-content: center;
                    }

                    .text-footer{
                        padding: 0.5% 2% 0.5% 0;
                        user-select: none;
                    }
                }

            }
        }

        .carousel{
            flex-basis: 30%;
            border-left: 1px solid $gray;

            h2{
                padding: 2%;
                text-align: center;
                user-select: none;

                @include media-maxW(55em) {
                    text-align: start;
                    padding: 2% 0 0 5%;
                }
            }

            .slider{
                overflow: hidden;
                height: 400px;
                margin: 2rem 10% 2% 10%;
                user-select: none;

                @include media-maxW(55em) {
                    margin: 5%;
                }

                figure{
                    position: relative;
                    width: 500%;
                    height: 100%;
                    margin: 0;
                    left: 0;
                    animation: 20s slider infinite;

                    @include keyframes(slider) {
                        0%{ left: 0; }
                        20%{ left: 0; }
                        25%{ left: -100%; }
                        45%{ left: -100%; }
                        50%{ left: -200%; }
                        70%{ left: -200%; }
                        75%{ left: -300%; }
                        95%{ left: -300%; }
                        100%{ left: -400%; }
                    }

                    img{
                        width: 20%;
                        height: 100%;
                        float: left;
                        object-fit: cover;
                        user-select: none;
                    }
                }
            }
        }

        /* Page détail des news */

        .affichNews{

            h2{
                padding: 2% 0 0 5%;
                user-select: none;
                font-family: Verdana, Geneva, Tahoma, sans-serif;

                @include media-maxW(55em) {
                    text-align: start;
                }

                a{
                    text-decoration: none;
                    color: $black;

                    &:hover{
                        color: $red;
                    }
                }
            }

            #img_news{
                width: 100%;
                height: 300px;
                object-fit: cover;
                margin: 1.5rem 0 0 2%;
            }

            .content{
                margin: 0 0 0 3%;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

            .publication{
                margin: 1% 0 1rem 3%;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

        }

        /* Les autres pages */

        .page{
            margin: 5rem 0 0 5%;
        }

        fieldset{
            margin: 0 2% 0 5%;
        }

        .pagination{
            text-align: center;
            margin: 30px 30px 60px;
            user-select: none;

            li{
                display: inline-block;
                margin: 5px;
                box-shadow: 0 5px 25px rgb(1 1 1 / 10%);

                a{
                    color: $white;
                    text-decoration: none;
                    font-size: 1.2em;
                    line-height: 45px;
                }
            }

            .previous-page, .next-page{
                background-color: $midnight_blue;
                width: 80px;
                border-radius: 45px;
                cursor: pointer;
                transition: 0.3s ease;
            }

            .pactive{
                background-color: $midnight_blue !important;
            }

            .pdisable{
                background-color: $dark_gray !important;
            }

            .previous-page{

                &:hover{
                    transform: translateX(-5px);
                }
            }

            .next-page{

                &:hover{
                    transform: translateX(5px);
                }
            }

            .current-page, .dots{
                background-color: $dark_gray;
                width: 45px;
                border-radius: 50%;
                cursor: pointer;

            }
        }

    }

}

