<section class="carousel">

    <h2><i class='bx bx-home'></i>La résidence en image</h2>

    <div class="slider">
        <figure>
            {% for c in carousel %}
                <img src="{{ asset('/img/' ~ c.img) }}" alt="img carousel" />
            {% endfor %}
        </figure>
    </div>

</section>