<header class="header-nav flex">

    <div class="logo flex">
        <a href="#"><img src="{{ asset("/img/sun-icon.png") }}" class="sun-icon" alt="sun"><span class="text-logo">Alcudia Smir</span></a>
    </div>

    <button class="btn_menu" aria-controls="nav" aria-expended="false"></button>

    <nav>
        <ul id="nav" class="nav flex" data-visible="false">
            <li {% if active == "accueil" %}class="active" {% endif %}><a href="{{ path('accueil') }}">Accueil</a></li>
            <li {% if active == "csyndical" %}class="active" {% endif %}><a href="{{ path('conseilsyndical') }}">Conseil Syndical</a></li>
            <li {% if active == "divers" %}class="active" {% endif %}><a href="{{ path('divers') }}">Divers</a></li>
            <li {% if active == "syndic" %}class="active" {% endif %}><a href="{{ path('syndic') }}">Le Syndic</a></li>
            <li {% if active == "forum" %}class="active" {% endif %}><a href="{{ path('forum') }}">Forum</a></li>
            {% if level == 5 %}
            <li><a href="{{ path('admin') }}">Admin</a></li>
            {% endif %}
            {% if Auth == false %}
            <li {% if active == "user" %}class="active" {% endif %}><a href="{{ path('user') }}">Compte</a></li>
            {% else %}
            <li {% if active == "user" %}class="active" {% endif %}><a href="{{ path('connect_user') }}">Mon Compte</a></li>
            {% endif %}
        </ul>
    </nav>
</header>