{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}

    <section class="container flex">

    <div class="card flex">
        
        <section class="user_connect">
            <div style="margin: 10%;">
                {{ form(formCo) }}
                <br/>

                <hr>

                <br/>
                {{ form(formInsc) }}
            </div>
        </section>

        <section class="carousel">

            <h2><i class='bx bx-home'></i>La résidence en image</h2>

            <div class="slider">
                <figure>
                    {% for c in carousel %}
                        <img src="{{ asset('/img/' ~ c.img) }}" alt="img carousel" />
                    {% endfor %}
                </figure>
            </div>

        </section>
    </div>
    
    </section>

{% endblock %}
